.button{
    background-color: rgb(231, 229, 229);
    color: black;
    border: none;
    border-bottom: 2px solid #332D2D;;
    width: 100%;
    margin-bottom: 2px;
    font-size: .8rem;
    padding: .2rem .3rem;
    transition: all .3s ease-in;
}

.button:hover{
    background-color: #55545c;
    cursor: pointer;
    border: none;
}